	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/09/2020 15:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-call:before { content: "\f100"; }
.flaticon-bonfire:before { content: "\f101"; }
.flaticon-matches:before { content: "\f102"; }
.flaticon-inspection:before { content: "\f103"; }
.flaticon-charity:before { content: "\f104"; }
.flaticon-round-table:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
.flaticon-mail:before { content: "\f107"; }
.flaticon-fire-alarm:before { content: "\f108"; }
.flaticon-fire-station:before { content: "\f109"; }
.flaticon-fireman:before { content: "\f10a"; }
.flaticon-fire-extinguisher:before { content: "\f10b"; }
.flaticon-fire-exit:before { content: "\f10c"; }
.flaticon-bell:before { content: "\f10d"; }
.flaticon-telephone:before { content: "\f10e"; }
.flaticon-email:before { content: "\f10f"; }
.flaticon-pin:before { content: "\f110"; }
.flaticon-life-saver:before { content: "\f111"; }