/* Css For Firbrigs */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header/style-one/style-two
5. Main Slider/style-one/style-two
6. Intro Section
7. Welcome Section
9. Cta Section
8. Research Fields
10. Testimonial Section
11. Researches Section
12. Team Section
14. Video
15. Fact Counter
16. News Section
19. Clients Section
20. Main Footer
21. Footer Bottom
22. Research Style Two
23. Innovative Solution
24. Discover Section
25. Testimonial Section
26. Chooseus Section
27. News Style Two
28. Page Title
29. Research Page Section
30. Research Details
31. Professor Page Section
32. Professor Details
33. About Section
34. Error Section
35. Blog Page Section
36. Blog Details
37. Blog Sidebar
38. Contact Section
39. Google Map


**********************************************/

/***

====================================================================
  Reset
====================================================================

 ***/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

/***

====================================================================
  Global Settings
====================================================================

 ***/

body {
    font-size: 18px;
    color: #716868;
    line-height: 34px;
    font-weight: 400;
    background: #ffffff;
    font-family: "Titillium Web", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding: 0px 15px;
    }
}

.large-container {
    max-width: 1500px;
    padding: 0px 15px;
    margin: 0 auto;
}

.container-fluid {
    padding: 0px;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.small-container {
    max-width: 680px;
    margin: 0 auto;
}

.boxed_wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden !important;
    width: 100%;
    min-width: 300px;
}

a {
    text-decoration: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

a:hover {
    text-decoration: none;
    outline: none;
}

input,
button,
select,
textarea {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

input {
    transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    transition: all 500ms ease;
}

p {
    position: relative;
    font-family: "Titillium Web", sans-serif;
    color: #716868;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: #2d2727;
    margin: 0px;
    transition: all 500ms ease;
}

/* Preloader */

.handle-preloader {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    display: -ms-flexbox;
    height: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: #fff;
}

.preloader-close {
    position: fixed;
    z-index: 999999;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    right: 0;
    bottom: 0;
    font-weight: 600;
}

.handle-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

.handle-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    height: 150px;
    margin: 0 auto 45px auto;
    width: 150px;
}

.handle-preloader .animation-preloader .txt-loading {
    text-align: center;
    user-select: none;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading {
    font-weight: 400;
    letter-spacing: 15px;
    display: inline-block;
    position: relative;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
}

.handle-preloader
    .animation-preloader
    .txt-loading
    .letters-loading:nth-child(2):before {
    animation-delay: 0.2s;
}
.handle-preloader
    .animation-preloader
    .txt-loading
    .letters-loading:nth-child(3):before {
    animation-delay: 0.4s;
}
.handle-preloader
    .animation-preloader
    .txt-loading
    .letters-loading:nth-child(4):before {
    animation-delay: 0.6s;
}
.handle-preloader
    .animation-preloader
    .txt-loading
    .letters-loading:nth-child(5):before {
    animation-delay: 0.8s;
}
.handle-preloader
    .animation-preloader
    .txt-loading
    .letters-loading:nth-child(6):before {
    animation-delay: 1s;
}
.handle-preloader
    .animation-preloader
    .txt-loading
    .letters-loading:nth-child(7):before {
    animation-delay: 1.2s;
}
.handle-preloader
    .animation-preloader
    .txt-loading
    .letters-loading:nth-child(8):before {
    animation-delay: 1.4s;
}
.handle-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.preloader .loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading {
    color: #cc5e28;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
    color: #cc5e28;
}

.handle-preloader .animation-preloader .spinner {
    border: 3px solid #cc5e28;
    border-top-color: rgba(204, 94, 40, 0.3);
}

/* AnimaciÃ³n del preloader */
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes letters-loading {
    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .handle-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }
}
@media screen and (max-width: 500px) {
    .handle-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }
    .handle-preloader .animation-preloader .txt-loading .letters-loading {
        font-size: 40px;
        letter-spacing: 10px;
    }
}

.centred {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

figure {
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
    transition-property: all;
}

/** button **/

.theme-btn-one {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #fff !important;
    text-align: center;
    padding: 22px 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.theme-btn-one:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background: #2d2727;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: all 500ms ease;
}

.theme-btn-one:hover:before {
    width: 100%;
}

.pagination {
    position: relative;
    display: block;
}

.pagination li {
    display: inline-block;
    margin: 0px 3px;
}

.pagination li a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 75px;
    width: 75px;
    line-height: 75px;
    background: #f5f0f0;
    text-align: center;
    color: #2d2727;
    z-index: 1;
    transition: all 500ms ease;
}

.pagination li a:hover,
.pagination li a.active {
    color: #fff;
}

.pagination li:last-child a {
    color: #fff;
    background: #2d2727;
}

.sec-pad {
    padding: 120px 0px !important;
}

.mr-0 {
    margin: 0px !important;
}

.scroll-top {
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: fixed;
    bottom: 105%;
    right: 30px;
    font-size: 24px;
    z-index: 99;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 1s ease;
}

.scroll-top.open {
    bottom: 50px;
}

.scroll-top span {
    color: #fff;
}

.sec-title {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.sec-title.centred {
    text-align: center !important;
}

.sec-title p {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #716868;
    padding-bottom: 4px;
}

.sec-title p:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
}

.sec-title h2 {
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    margin: 0px;
}

.sec-title.light h2 {
    color: #fff;
}

.sec-title.light p {
    color: rgba(255, 255, 255, 0.6);
}

/***

====================================================================
                        Home-Page-One
====================================================================

***/

/** main-header **/

.main-header {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.sticky-header {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    left: 0px;
    top: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.fixed-header .sticky-header {
    z-index: 999;
    opacity: 1;
    visibility: visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/** header-top **/

.header-top {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ede6e6;
    padding: 7px 0px;
}

.header-top .text p {
    font-size: 16px;
    font-style: italic;
}

.header-top .social-links li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.header-top .social-links li:last-child {
    margin: 0px !important;
}

.header-top .social-links li a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #706767;
}

.header-top .social-links li a:hover {
}

/** header-lower **/

.header-lower {
    position: relative;
    background: #fff;
    width: 100%;
}

.main-header .logo-box {
    position: relative;
    padding: 24px 0px;
    margin-right: 90px;
}

.main-header .logo-box .logo {
    position: relative;
    /* max-width: 166px; */
    width: 100%;
}

.main-header .logo-box .logo img {
    width: 100%;
}

.main-header .support-box {
    position: relative;
    padding: 30px 0px 30px 65px;
}

.main-header .support-box:before {
    position: absolute;
    content: "";
    background: #ede6e6;
    width: 1px;
    height: 100%;
    left: -60px;
    top: 0px;
}

.main-header .support-box i {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.main-header .support-box p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.main-header .support-box h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.main-header .support-box h4 a {
    display: inline-block;
    color: #2d2727;
}

.main-header .support-box h4 a:hover {
}

.main-header .outer-box {
    position: relative;
}

/** main-menu **/

.main-menu {
    float: left;
}

.main-menu .navbar-collapse {
    padding: 0px;
    display: block !important;
}

.main-menu .navigation {
    margin: 0px;
}

.main-menu .navigation > li {
    position: inherit;
    float: left;
    z-index: 2;
    padding: 49px 0px 40px 0px;
    margin: 0px 10px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.main-menu .navigation > li:last-child {
    margin-right: 0px !important;
}

.main-menu .navigation > li:first-child {
    margin-left: 0px !important;
}

.main-menu .navigation > li > a {
    position: relative;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    opacity: 1;
    color: #706767;
    z-index: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a {
    color: #2d2727;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu {
    position: absolute;
    left: inherit;
    top: 100%;
    width: 350px;
    z-index: 100;
    display: none;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0px;
    background: #2d2727;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.main-menu .navigation > li > ul.from-right {
    left: auto;
    right: 0px;
}

.main-menu .navigation > li > ul > li {
    position: relative;
    width: 100%;
    padding: 0px 30px;
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0.28, 0.31, 1.28) 0s;
    transition: all 0.2s cubic-bezier(0.4, 0.28, 0.31, 1.28) 0s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.main-menu .navigation > li:hover > ul > li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main-menu .navigation > li > ul > li:nth-child(2n + 1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.main-menu .navigation > li > ul > li:nth-child(2n + 2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.main-menu .navigation > li > ul > li:nth-child(2n + 3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.main-menu .navigation > li > ul > li:nth-child(2n + 4) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.main-menu .navigation > li > ul > li:nth-child(2n + 5) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.main-menu .navigation > li > ul > li:nth-child(2n + 6) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.main-menu .navigation > li > ul > li:nth-child(2n + 7) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.main-menu .navigation > li > ul > li:nth-child(2n + 8) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.main-menu .navigation > li > ul > li:last-child {
    border-bottom: none;
}

.main-menu .navigation > li > ul > li > a,
.main-menu .navigation > li > .megamenu li > a {
    position: relative;
    display: block;
    padding: 14px 0px;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover {
}

.main-menu .navigation > li > ul > li:last-child > a,
.main-menu .navigation > li > .megamenu li:last-child > a {
    border-bottom: none;
}

.main-menu .navigation > li > ul > li > a:hover {
}

.main-menu .navigation > li > ul > li.dropdown > a:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 14px;
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    z-index: 5;
}

.main-menu .navigation > li > ul > li > ul {
    position: absolute;
    right: 100%;
    top: 0%;
    width: 230px;
    z-index: 100;
    display: none;
    padding: 10px 0px;
    background: #2d2727;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.main-menu .navigation > li > ul > li > ul.from-right {
    left: auto;
    right: 0px;
}

.main-menu .navigation > li > ul > li > ul > li {
    position: relative;
    width: 100%;
    padding: 0px 30px;
}

.main-menu .navigation > li > ul > li > ul > li {
    position: relative;
    width: 100%;
    padding: 0px 30px;
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0.28, 0.31, 1.28) 0s;
    transition: all 0.2s cubic-bezier(0.4, 0.28, 0.31, 1.28) 0s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.main-menu .navigation > li > ul > li:hover > ul > li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main-menu .navigation > li > ul > li > ul > li:nth-child(2n + 1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.main-menu .navigation > li > ul > li > ul > li:nth-child(2n + 2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.main-menu .navigation > li > ul > li > ul > li:nth-child(2n + 3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.main-menu .navigation > li > ul > li > ul > li:nth-child(2n + 4) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
    border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
    border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a {
    position: relative;
    display: block;
    padding: 14px 0px;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:last-child > a {
    border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
}

.main-menu .navigation > li > ul > li > ul > li.dropdown > a:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 12px;
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 900;
    z-index: 5;
}

.main-menu .navigation > li.dropdown:hover > ul,
.main-menu .navigation > li.dropdown:hover > .megamenu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 99%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

.main-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: -32px;
    top: 66px;
    width: 34px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #3b3b3b;
    cursor: pointer;
    display: none;
    z-index: 5;
    transition: all 500ms ease;
}

.main-menu .navigation li.current.dropdown .dropdown-btn,
.main-menu .navigation li:hover .dropdown-btn {
}

.main-menu .navigation li.dropdown ul li.dropdown .dropdown-btn {
    display: none;
}

.menu-area .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
    color: #3786ff;
    display: none;
}

.menu-area .mobile-nav-toggler .icon-bar {
    position: relative;
    height: 2px;
    width: 30px;
    display: block;
    margin-bottom: 5px;
    background-color: #3b3b3b;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.menu-area .mobile-nav-toggler .icon-bar:last-child {
    margin-bottom: 0px;
}

.main-header .sticky-header .logo-box {
    padding: 18px 0px;
}

.main-header .sticky-header .main-menu .navigation > li {
    padding: 41px 0px !important;
}

.main-header .sticky-header .support-box {
    padding: 23px 0px 23px 65px;
}

.main-header .sticky-header .support-box i {
    top: 23px;
}

/** megamenu-style **/

.main-menu .navigation > li.dropdown > .megamenu {
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    left: 0px;
}

.main-menu .navigation li.dropdown .megamenu li h4 {
    font-weight: 500;
    padding: 3px 0px;
    color: #fff;
}

/** mobile-menu **/

.nav-outer .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
    color: #3786ff;
    display: none;
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
}

.mobile-menu .navbar-collapse {
    display: block !important;
}

.mobile-menu .nav-logo {
    background: #fff;
    position: relative;
    padding: 50px 25px;
    text-align: left;
    padding-bottom: 100px;
}

.mobile-menu-visible {
    overflow: hidden;
}

.mobile-menu-visible .mobile-menu {
    opacity: 1;
    visibility: visible;
}

.mobile-menu .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop {
    opacity: 0.7;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #202020;
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.mobile-menu .close-btn {
    position: absolute;
    right: 25px;
    top: 10px;
    line-height: 30px;
    width: 24px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.mobile-menu .close-btn:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mobile-menu .navigation {
    position: relative;
    display: block;
    width: 100%;
    float: none;
}

.mobile-menu .navigation li {
    position: relative;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu .navigation:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu .navigation li > ul > li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu .navigation li > a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.mobile-menu .navigation li ul li > a {
    font-size: 16px;
    margin-left: 20px;
    text-transform: capitalize;
}

.mobile-menu .navigation li > a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    border-left: 5px solid #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.mobile-menu .navigation li.current > a:before {
    height: 100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open {
    background: #fff;
    color: #3b3b3b;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul,
.mobile-menu .navigation > li.dropdown > .megamenu {
    display: none;
}

.mobile-menu .social-links {
    position: relative;
    padding: 0px 25px;
}

.mobile-menu .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 10px 10px;
}

.mobile-menu .social-links li a {
    position: relative;
    line-height: 32px;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.mobile-menu .social-links li a:hover {
}

div#mCSB_1_container {
    top: 0px !important;
}

.mobile-menu .contact-info {
    position: relative;
    padding: 120px 30px 20px 30px;
}

.mobile-menu .contact-info h4 {
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
}

.mobile-menu .contact-info ul li {
    position: relative;
    display: block;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3px;
}

.mobile-menu .contact-info ul li a {
    color: rgba(255, 255, 255, 0.8);
}

.mobile-menu .contact-info ul li a:hover {
}

.mobile-menu .contact-info ul li:last-child {
    margin-bottom: 0px;
}

/** banner-section **/

.banner-section {
    position: relative;
    overflow: hidden;
}

.banner-section.style-one:before {
    position: absolute;
    content: "";
    background: #fff;
    width: 50%;
    height: 166px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.banner-section.style-one:after {
    position: absolute;
    content: "";
    background: #fff;
    width: calc(50% + 1px);
    height: 166px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    clip-path: polygon(0% 0%, 200% 100%, 100% 100%, 0% 100%, 0% 0%);
}

.banner-section .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 166px;
    z-index: 3;
}

.banner-section .pattern-layer:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 166px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    clip-path: polygon(0% 40%, 100% 0%, 100% 0%, 0% 100%, 0% 0%);
}

.banner-section .pattern-layer:after {
    position: absolute;
    content: "";
    width: 20%;
    height: 166px;
    right: 0px;
    bottom: -49px;
    z-index: 2;
    clip-path: polygon(0% 0%, 100% 19%, 100% 100%, 175% 100%, 0% 0%);
    transform: rotate(0deg);
}

.banner-carousel {
    position: relative;
}

.banner-carousel .slide-item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 165px 0px 300px 0px;
}

.banner-carousel .slide-item:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #2d2727;
    top: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0.5;
}

.banner-carousel .slide-item .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.banner-carousel .active .slide-item .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.banner-carousel .content-box {
    position: relative;
    display: block;
    max-width: 620px;
    z-index: 5;
}

.banner-carousel .content-box h1 {
    position: relative;
    display: block;
    color: #fff;
    font-size: 90px;
    line-height: 95px;
    font-weight: 900;
    margin-bottom: 38px;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.banner-carousel .active .content-box h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 700ms;
    -moz-transition-delay: 700ms;
    -ms-transition-delay: 700ms;
    -o-transition-delay: 700ms;
    transition-delay: 700ms;
}

.banner-carousel .content-box p {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 42px;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.banner-carousel .active .content-box p {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.banner-carousel .content-box .btn-box {
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.banner-carousel .active .content-box .btn-box {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1300ms;
    -moz-transition-delay: 1300ms;
    -ms-transition-delay: 1300ms;
    -o-transition-delay: 1300ms;
    transition-delay: 1300ms;
}

.owl-dots-none .owl-dots,
.owl-nav-none .owl-nav {
    display: none !important;
}

.banner-section.style-one .owl-dots {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}

.banner-section.style-one .owl-theme .owl-dots .owl-dot {
    display: block;
}

.banner-section .owl-theme .owl-dots .owl-dot span {
    position: relative;
    display: block;
    background: transparent;
    width: 20px;
    height: 20px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0px;
    cursor: pointer;
    transition: all 500ms ease;
}

.banner-section .owl-theme .owl-dots .owl-dot.active span,
.banner-section .owl-theme .owl-dots .owl-dot span:hover {
    border-color: #fff;
}

/** about-section **/

.about-section {
    position: relative;
    padding: 10px 0px 120px 0px;
}

.image_block_1 .image-box {
    position: relative;
    display: block;
    padding-right: 60px;
    margin-right: 10px;
    padding-bottom: 60px;
    margin-top: 10px;
}

.image_block_1 .image-box:before {
    position: absolute;
    content: "";
    background: #f5f0f0;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    top: 60px;
    right: 0px;
}

.image_block_1 .image-box .image {
    position: relative;
    display: block;
    overflow: hidden;
}

.image_block_1 .image-box .image img {
    width: 100%;
}

.image_block_1 .image-box .image:before {
    position: absolute;
    top: 0;
    left: -80%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255, 255, 255, 0)),
        to(rgba(255, 255, 255, 0.3))
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.image_block_1 .image-box:hover .image:before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.image_block_1 .image-box .image-content {
    position: absolute;
    left: -60px;
    bottom: 0px;
    max-width: 200px;
    width: 100%;
    padding: 34px 50px 37px 50px;
    text-align: center;
}

.image_block_1 .image-box .image-content h2 {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 14px;
}

.image_block_1 .image-box .image-content h5 {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    font-weight: 700;
}

.content_block_1 .content-box .support-box {
    position: relative;
    display: inline-block;
    padding: 20px 65px 20px 85px;
    background: #f5f0f0;
}

.content_block_1 .content-box .support-box i {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.content_block_1 .content-box .support-box p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.content_block_1 .content-box .support-box h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.content_block_1 .content-box .support-box h4 a {
    display: inline-block;
    color: #2d2727;
}

.content_block_1 .content-box .support-box h4 a:hover {
}

.content_block_1 .content-box {
    position: relative;
    margin-left: 70px;
}

.content_block_1 .content-box .text {
    margin-bottom: 41px;
}

.content_block_1 .content-box .inner-box {
    position: relative;
    margin-bottom: 44px;
}

.content_block_1 .content-box .inner-box .single-item {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 75px;
}

.content_block_1 .content-box .inner-box .single-item i {
    position: absolute;
    left: 0px;
    top: 6px;
    font-size: 60px;
    line-height: 50px;
}

.content_block_1 .content-box .inner-box .single-item h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.content_block_1 .content-box .list-item {
    position: relative;
    margin-bottom: 42px;
}

.content_block_1 .content-box .list-item li {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    padding-left: 30px;
    margin-bottom: 12px;
}

.content_block_1 .content-box .list-item li:last-child {
    margin-bottom: 0px;
}

.content_block_1 .content-box .list-item li:before {
    position: absolute;
    content: "\f058";
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    left: 0px;
    top: 0px;
    font-weight: 700;
}

.bg-color-1 {
    background-color: #f5f0f0;
}

/** service-section **/

.service-section {
    position: relative;
    padding: 115px 0px 120px 0px;
}

.service-section .bg-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-section .sec-title {
    margin-bottom: 50px;
}

.service-block-one .inner-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.service-block-one .inner-box:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;
    z-index: 2;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    transition: all 500ms ease;
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.service-block-one .inner-box:hover:before {
    height: 20px;
}

.service-block-one .inner-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.service-block-one .inner-box .image-box img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    transition: all 500ms ease;
}

.service-block-one .inner-box:hover .image-box img {
    transform: scale(1.1);
}

.service-block-one .inner-box .image-box:before {
    position: absolute;
    content: "";
    background: #2d2727;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.4;
    z-index: 1;
    transition: all 500ms ease;
}

.service-block-one .inner-box:hover .image-box:before {
    opacity: 0.9;
}

.service-block-one .inner-box .text {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 30px 30px;
    opacity: 1;
    transition: all 500ms ease;
}

.service-block-one .inner-box:hover .text {
    opacity: 0;
}

.service-block-one .inner-box .text h2 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 38px;
    color: #fff;
    font-weight: 900;
}

.service-block-one .inner-box .overlay-content {
    position: absolute;
    left: 0px;
    top: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 30px 30px;
    opacity: 0;
    transition: all 500ms ease;
}

.service-block-one .inner-box:hover .overlay-content {
    opacity: 1;
    top: 0px;
}

.service-block-one .inner-box .overlay-content h3 {
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 12px;
}

.service-block-one .inner-box .overlay-content h3 a {
    display: inline-block;
    color: #fff;
}

.service-block-one .inner-box .overlay-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 22px;
}

.service-block-one .inner-box .overlay-content .link a {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 28px;
    text-align: center;
    letter-spacing: 1px;
}

.bg-color-2 {
    background-color: #2d2727;
}

/** skrills-section **/

.skrills-section {
    position: relative;
    padding: 110px 0px;
}

.skrills-section .image-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.skrills-section .bg-layer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.progress-box {
    margin-bottom: 25px;
    position: relative;
}

.progress-box:last-child {
    margin-bottom: 0px;
}

.progress-box .bar {
    position: relative;
    width: 100%;
    height: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    margin-bottom: 12px;
}

.progress-box .bar-inner {
    position: relative;
    display: block;
    width: 0px;
    height: 8px;
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.progress-box .count-text {
    position: absolute;
    top: -40px;
    right: 0px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.progress-box .bar-inner.counted .count-text {
    opacity: 1;
}

.progress-box h5 {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.content_block_2 .content-box .text {
    position: relative;
    margin-bottom: 48px;
}

.content_block_2 .content-box .text p {
    color: rgba(255, 255, 255, 0.6);
}

.content_block_2 .content-box .inner-box .single-item {
    position: relative;
    float: left;
    width: 50%;
    padding: 9px 0px 10px 60px;
    min-height: 47px;
}

.content_block_2 .content-box .inner-box .single-item i {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
}

.content_block_2 .content-box .inner-box .single-item h5 {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
}

.content_block_2 .content-box .inner-box {
    position: relative;
    margin-bottom: 55px;
}

/** cta-section **/

.cta-section {
    position: relative;
    padding: 86px 0px;
}

.cta-section .btn-box .theme-btn-one {
    background: #fff;
    color: #2d2727 !important;
}

.cta-section .btn-box .theme-btn-one:hover {
    color: #fff !important;
}

.cta-section .text h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 56px;
    color: #fff;
    font-weight: 900;
}

.cta-section .text h2 a {
    display: inline-block;
    font-size: 50px;
    color: #fff;
}

.cta-section .text h2 a:hover {
    text-decoration: underline;
}

.cta-section .btn-box {
    position: relative;
    margin-top: 24px;
}

.cta-section .pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pt-6 {
    padding-top: 6px;
}

/** gallery-section **/

.gallery-section {
    position: relative;
}

.gallery-block-one .inner-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery-block-one .inner-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery-block-one .inner-box .image-box:before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0px;
    top: 0px;
    height: 0%;
    opacity: 0.9;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%, 0% 0%);
    transition: all 500ms ease;
}

.gallery-block-one .inner-box:hover .image-box:before {
    height: 100%;
}

.gallery-block-one .inner-box .image-box img {
    width: 100%;
    transition: all 500ms ease;
}

.gallery-block-one .inner-box:hover .image-box img {
    transform: scale(1.1);
}

.gallery-block-one .inner-box .image-box .view-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    font-size: 60px;
    line-height: 50px;
    color: #fff;
    font-weight: 200;
    z-index: 1;
    transition: all 500ms ease;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.gallery-block-one .inner-box:hover .image-box .view-btn {
    transform: translate(-50%, -50%) scale(1, 1);
}

/** funfact-section **/

.funfact-section {
    position: relative;
    padding: 110px 0px 120px 0px;
}

.content_block_3 .content-box {
    position: relative;
    display: block;
}

.funfact-section .content_block_3 .content-box {
    margin-right: -22px;
}

.content_block_3 .content-box .text {
    margin-bottom: 53px;
}

.content_block_3 .content-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.content_block_3 .content-box .image-box img {
    width: 100%;
}

.content_block_3 .content-box .lower-box {
    position: relative;
    display: block;
    padding: 18px 20px 22px 30px;
}

.content_block_3 .content-box .lower-box h4 {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.content_block_3 .content-box .lower-box a {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #fff;
    font-size: 12px;
    line-height: 24px;
    color: #2d2727;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 30px;
    text-align: center;
    z-index: 1;
}

.content_block_4 .counter-block {
    position: relative;
    display: block;
    background: #f5f0f0;
    padding: 80px 0px 10px 80px;
}

.funfact-section .content_block_4 .counter-block {
    margin-left: 70px;
    margin-top: 10px;
}

.content_block_4 .counter-block .counter-block-one {
    position: relative;
    padding: 3px 0px 61px 140px;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
    min-height: 161px;
}

.content_block_4 .counter-block .counter-block-one:last-child {
    border-bottom: none;
    margin-bottom: 20px;
}

.content_block_4 .counter-block .counter-block-one .icon-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    border-radius: 50%;
    font-size: 60px;
    color: #fff;
}

.content_block_4 .counter-block .counter-block-one .count-outer {
    position: relative;
    font-size: 50px;
    line-height: 60px;
    color: #2d2727;
    font-weight: 900;
    margin-bottom: 2px;
}

.content_block_4 .counter-block .counter-block-one p {
    font-weight: 600;
}

/** video-section **/

.video-section {
    position: relative;
    width: 100%;
    padding: 120px 0px 110px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-section:before {
    position: absolute;
    content: "";
    background: #2d2727;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.6;
}

.video-section .inner-box a {
    position: relative;
    display: inline-block;
    width: 108px;
    height: 108px;
    line-height: 108px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 39px;
}

.video-section .inner-box a:after,
.video-section .inner-box a:before {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.video-section .inner-box a:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes ripple {
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes ripple {
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.video-section .inner-box h2 {
    font-size: 60px;
    line-height: 72px;
    color: #fff;
    font-weight: 900;
}

/** testimonial-section **/

.testimonial-section {
    position: relative;
    padding-top: 110px;
}

.testimonial-section .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 290px;
    background-size: cover;
    background-repeat: repeat-x;
    animation: slide 60s linear infinite;
    -webkit-animation: slide 60s linear infinite;
}

.testimonial-section .sec-title {
    margin-bottom: 95px;
}

.testimonial-section .owl-stage-outer {
    overflow: visible;
}

.testimonial-section .owl-stage-outer .owl-item {
    opacity: 0;
    transition: all 500ms ease;
}

.testimonial-section .owl-stage-outer .owl-item.active {
    opacity: 1;
}

.testimonial-block-one .inner-box {
    position: relative;
    display: block;
    border: 1px solid #ede6e6;
    background: #fff;
    padding: 0px 60px 55px 60px;
}

.testimonial-block-one .inner-box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    left: 0px;
    bottom: 0px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    transition: all 500ms ease;
}

.testimonial-block-one .inner-box:hover:before {
    height: 20px;
}

.testimonial-block-one .inner-box .author-thumb {
    position: relative;
    display: inline-block;
    width: 108px;
    height: 108px;
    background: transparent;
    border-radius: 50%;
    padding: 8px;
    overflow: hidden;
    margin-top: -55px;
    margin-bottom: 10px;
    transition: all 500ms ease;
}

.testimonial-block-one .inner-box:hover .author-thumb {
}

.testimonial-block-one .inner-box .author-thumb img {
    width: 100%;
    border-radius: 50%;
}

.testimonial-block-one .inner-box .text {
    position: relative;
    margin-bottom: 21px;
}

.testimonial-block-one .inner-box .text p {
    font-style: italic;
    line-height: 36px;
}

.testimonial-block-one .inner-box .author-info h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 0px;
}

.testimonial-block-one .inner-box .author-info .designation {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

/** clients-section **/

.clients-section {
    position: relative;
    padding: 120px 0px;
}

.clients-section .clients-logo-box {
    position: relative;
    display: block;
}

.clients-section .clients-logo-box img {
    display: block;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    opacity: 0.9;
    transition: all 500ms ease;
}

.clients-section .clients-logo-box img:hover {
    opacity: 1;
}

/** news-section **/

.news-section {
    position: relative;
    padding: 110px 0px 120px 0px;
}

.news-section .sec-title {
    margin-bottom: 50px;
}

.news-block-one {
    position: relative;
    display: block;
    background: #f5f0f0;
    padding: 40px 0px;
}

.news-block-one .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.news-block-one .image-box .image {
    position: relative;
    display: block;
    overflow: hidden;
}

.news-block-one .image-box .image img {
    width: 100%;
    transition: all 500ms ease;
}

.news-block-one:hover .image-box .image img {
    opacity: 0.2;
    transform: scale(1.1);
}

.news-block-one .image-box .post-date {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 14px 15px 15px 15px;
    text-align: center;
    max-width: 67px;
    width: 100%;
    z-index: 1;
}

.news-block-one .image-box .post-date h4 {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
}

.news-block-one .image-box .post-date p {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.news-block-one .content-box {
    position: relative;
    padding-right: 40px;
    margin-top: -11px;
}

.news-block-one .content-box .post-info li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.news-block-one .content-box .post-info li:last-child {
    margin: 0px !important;
}

.news-block-one .content-box .post-info li a {
    display: inline-block;
    color: #706767;
}

.news-block-one .content-box .post-info li a:hover {
}

.news-block-one .content-box .post-info li i {
    position: relative;
    margin-right: 5px;
}

.news-block-one .content-box .post-info {
    position: relative;
    margin-bottom: 11px;
}

.news-block-one .content-box h2 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 35px;
}

.news-block-one .content-box h2 a {
    display: inline-block;
    color: #2d2727;
}

.news-block-one .content-box h2 a:hover {
}

.news-block-one .content-box p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

.news-block-one .content-box .link a {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    color: #2d2727;
}

.news-block-one .content-box .link a:hover {
    color: #fff;
}

/** newsletter-section **/

.newsletter-section {
    position: relative;
    padding: 30px 0px;
    background: #221d1d;
}

.newsletter-section .text {
    position: relative;
    padding-left: 75px;
}

.newsletter-section .text .icon-box {
    position: absolute;
    left: 0px;
    top: 12px;
    font-size: 45px;
    line-height: 40px;
}

.newsletter-section .text h4 {
    font-size: 20px;
    line-height: 70px;
    color: #fff;
    font-weight: 600;
}

.newsletter-section .newsletter-form {
    position: relative;
    display: block;
    margin-left: 120px;
}

.newsletter-section .newsletter-form .form-group {
    position: relative;
    margin: 0px;
}

.newsletter-section .newsletter-form .form-group input[type="email"] {
    position: relative;
    width: 100%;
    height: 70px;
    background: #2d2727;
    border: 1px solid #2d2727;
    padding: 10px 70px 10px 20px;
    font-size: 16px;
    color: #b9b0b0;
    font-weight: 600;
    transition: all 500ms ease;
}

.newsletter-section
    .newsletter-form
    .form-group
    input::-webkit-input-placeholder {
    color: #b9b0b0;
}

.newsletter-section .newsletter-form .form-group input:focus {
}

.newsletter-section .newsletter-form .form-group button {
    position: absolute;
    top: 18px;
    right: 35px;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 500ms ease;
}

/** main-footer **/

.main-footer {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-footer:before {
    position: absolute;
    content: "";
    background: #2d2727;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.95;
}

.main-footer .footer-logo {
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    z-index: 1;
}

.footer-top {
    position: relative;
    padding: 93px 0px 100px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-top .widget-title {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.footer-top .widget-title h4 {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
}

.footer-top .about-widget .text {
    margin-bottom: 24px;
}

.footer-top .about-widget .text p {
    font-size: 16px;
    line-height: 32px;
    color: #b9b0b0;
    font-weight: 600;
}

.footer-top .about-widget .support-box {
    position: relative;
    display: inline-block;
    padding: 20px 65px 20px 80px;
    background: #221d1d;
}

.footer-top .about-widget .support-box i {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.footer-top .about-widget .support-box p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #b9b0b0;
}

.footer-top .about-widget .support-box h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}

.footer-top .about-widget .support-box h4 a {
    display: inline-block;
    color: #fff;
}

.footer-top .about-widget .support-box h4 a:hover {
}

.footer-top .links-widget .links-list li {
    position: relative;
    display: block;
    margin-bottom: 6px;
}

.footer-top .links-widget .links-list li:last-child {
    margin-bottom: 0px;
}

.footer-top .links-widget .links-list li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #b9b0b0;
    padding-left: 10px;
}

.footer-top .links-widget .links-list li a:hover {
}

.footer-top .links-widget .links-list li a:before {
    position: absolute;
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    font-weight: 400;
    color: #b9b0b0;
    left: 0px;
    top: 0px;
    transition: all 500ms ease;
}

.footer-top .links-widget .links-list li a:hover:before {
}

.footer-top .map-widget .map-inner {
    position: relative;
    background: #221d1d;
    padding: 10px;
}

.footer-top .map-widget #contact-google-map {
    position: relative;
    width: 100%;
    height: 173px;
}

.footer-bottom {
    position: relative;
    padding: 30px 0px;
}

.footer-bottom .copyright p {
    font-size: 16px;
    line-height: 52px;
    color: #b9b0b0;
    font-weight: 600;
}

.footer-bottom .copyright p a {
    color: #b9b0b0;
}

.footer-bottom .copyright p a:hover {
    color: #fff;
}

.footer-bottom .footer-social li {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.footer-bottom .footer-social li:last-child {
    margin: 0px !important;
}

.footer-bottom .footer-social li a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #221d1d;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    border-radius: 50%;
}

.footer-bottom .footer-social li a:hover {
}

/***

====================================================================
                        Home-Page-Two
====================================================================

***/

/** header-style-two **/

.main-header.style-two {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    background: transparent;
}

.main-header.style-two .header-lower {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(34, 29, 29, 0.5);
}

.main-header.style-two .header-lower .main-menu .navigation > li > a {
    color: #fff;
}

.main-header.style-two .header-lower .support-box h4 a,
.main-header.style-two .header-lower .support-box p {
    color: #fff;
}

.main-header.style-two .header-lower .support-box:before {
    background: rgba(255, 255, 255, 0.1);
}

.main-header.style-two .header-lower .main-menu .navigation > li.current > a,
.main-header.style-two .header-lower .main-menu .navigation > li:hover > a {
}

.main-header.style-two .header-lower .support-box h4 a:hover {
}

/** banner-style-two **/

.banner-section.style-two .banner-carousel .content-box {
    max-width: 100%;
}

.banner-section.style-two .banner-carousel .slide-item {
    padding: 350px 0px 255px 0px;
}

.banner-section.style-two .banner-carousel .content-box h1 {
    font-size: 110px;
    margin-bottom: 45px;
}

.banner-section.style-two .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.banner-section.style-two .owl-theme .owl-dots .owl-dot span {
    margin: 0px 5px;
}

/** history-section **/

.history-section {
    position: relative;
    padding-top: 110px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.history-section .lower-content {
    position: relative;
    margin-bottom: -120px;
    z-index: 1;
}

.history-section .upper-content .sec-title {
    margin-right: 10px;
}

.history-section .upper-content .content-box {
    position: relative;
    padding-left: 275px;
}

.history-section .upper-content .content-box .counter-block {
    position: absolute;
    left: 0px;
    top: 6px;
    background: #fff;
    text-align: center;
    max-width: 230px;
    width: 100%;
    padding: 50px 15px 39px 15px;
}

.history-section .upper-content .content-box .counter-block .icon-box {
    position: relative;
    display: inline-block;
    font-size: 65px;
    line-height: 50px;
    margin-bottom: 12px;
}

.history-section .upper-content .content-box .counter-block .count-outer {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 45px;
    color: #2d2727;
    font-weight: 900;
    margin-bottom: 0px;
}

.history-section .upper-content .content-box .counter-block p {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.history-section .upper-content .content-box .text p {
    font-weight: 600;
    margin-bottom: 29px;
}

.history-section .upper-content .content-box .text .list li {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 34px;
    font-weight: 600;
    padding-left: 25px;
}

.history-section .upper-content .content-box .text .list li:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    left: 0px;
    top: 14px;
    border-radius: 50%;
}

.history-section .upper-content {
    position: relative;
    margin-bottom: 85px;
}

.pt-240 {
    padding-top: 240px !important;
}

.history-section:before {
    position: absolute;
    content: "";
    background: #f5f0f0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.9;
}

.history-section .pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 616px;
    height: 441px;
    background-repeat: no-repeat;
}

/** about-style-two **/

.about-style-two {
    position: relative;
    padding: 120px 0px;
    background: #fff;
}

.image_block_2 .image-box {
    position: relative;
    margin-right: 70px;
}

.image_block_2 .image-box .image {
    position: relative;
    display: block;
    overflow: hidden;
}

.image_block_2 .image-box .image:before {
    position: absolute;
    top: 0;
    left: -80%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255, 255, 255, 0)),
        to(rgba(255, 255, 255, 0.3))
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.image_block_2 .image-box:hover .image:before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}

.image_block_2 .image-box .image img {
    width: 100%;
}

.image_block_2 .image-box .image-content {
    position: absolute;
    left: 50px;
    bottom: 70px;
    background: #fff;
    max-width: 270px;
    width: 100%;
    padding: 20px 20px;
}

.image_block_2 .image-box .image-content:before {
    position: absolute;
    content: "";
    background: #fff;
    width: 35px;
    height: 20px;
    left: 0px;
    bottom: -20px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%, 0% 0%);
}

.image_block_2 .image-box .image-content .support-box {
    position: relative;
    padding-left: 65px;
}

.image_block_2 .image-box .image-content .support-box i {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.image_block_2 .image-box .image-content .support-box p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.image_block_2 .image-box .image-content .support-box h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.image_block_2 .image-box .image-content .support-box h4 a {
    display: inline-block;
    color: #2d2727;
}

.image_block_2 .image-box .image-content .support-box h4 a:hover {
}

.content_block_5 .content-box .single-progress-box .piechart {
    position: relative;
}

.content_block_5 .content-box .single-progress-box {
    position: relative;
    padding: 20px 0px 0px 140px;
    min-height: 120px;
    margin-bottom: 20px;
}

.content_block_5 .content-box .single-progress-box:last-child {
    margin-bottom: 0px;
}

.content_block_5 .content-box .single-progress-box .box {
    position: absolute;
    left: 0px;
    top: 0px;
}

.content_block_5 .content-box .single-progress-box .piechart span {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #35312f;
    text-align: center;
}

.content_block_5 .content-box .single-progress-box .piechart span:after {
    color: #35312f;
    content: "%";
    font-size: 24px;
}

.content_block_5 .content-box .inner .text {
    width: 50%;
    padding-right: 10px;
    margin-top: 12px;
}

.content_block_5 .content-box .inner .text .list-item {
    margin-bottom: 31px;
}

.content_block_5 .content-box .inner .progress-inner {
    width: 50%;
}

.content_block_5 .content-box h3 {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 34px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 30px;
}

.content_block_5 .content-box .inner .list-item li {
    position: relative;
    display: block;
    font-weight: 600;
    padding-left: 25px;
    margin-bottom: 6px;
}

.content_block_5 .content-box .inner .list-item li:last-child {
    margin-bottom: 0px;
}

.content_block_5 .content-box .inner .list-item li:before {
    position: absolute;
    content: "\f058";
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    left: 0px;
    top: 0px;
    font-weight: 700;
}

.content_block_5 .content-box .single-progress-box h4 {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
}

/** feature-section **/

.feature-section {
    position: relative;
    padding: 110px 0px 120px 0px;
}

.feature-block-one .inner-box {
    position: relative;
    display: block;
    background: #fff;
    padding: 52px 15px 45px 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
}

.feature-block-one .inner-box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    left: 0px;
    top: 0px;
    transition: all 500ms ease;
}

.feature-block-one .inner-box:hover:before {
    height: 100%;
}

.feature-block-one .inner-box .icon-box {
    position: relative;
    display: inline-block;
    font-size: 65px;
    line-height: 60px;
    color: #2d2727;
    margin-bottom: 15px;
    transition: all 500ms ease;
}

.feature-block-one .inner-box:hover .icon-box {
    color: #fff;
}

.feature-block-one .inner-box h4 {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    transition: all 500ms ease;
}

.feature-block-one .inner-box:hover h4 {
    color: #fff;
}

.feature-section .sec-title {
    margin-bottom: 50px;
}

/** team-section **/

.team-section {
    position: relative;
    padding: 110px 0px 120px 0px;
}

.team-section .sec-title {
    margin-bottom: 50px;
}

.team-block-one .inner-box {
    position: relative;
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.team-block-one .inner-box:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;
    z-index: 2;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    transition: all 500ms ease;
}

.team-block-one .inner-box:hover:before {
    height: 20px;
}

.team-block-one .inner-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.team-block-one .inner-box .image-box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    left: 0px;
    top: 0px;
    opacity: 0.8;
    z-index: 1;
    transition: all 500ms ease;
}

.team-block-one .inner-box:hover .image-box:before {
    height: 100%;
}

.team-block-one .inner-box .image-box img {
    width: 100%;
    transition: all 500ms ease;
}

.team-block-one .inner-box:hover .image-box img {
    transform: scale(1.1);
}

.team-block-one .inner-box .lower-content {
    position: relative;
    padding: 27px 15px 32px 15px;
}

.team-block-one .inner-box .lower-content h4 {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 2px;
}

.team-block-one .inner-box .lower-content h4 a {
    display: inline-block;
    color: #2d2727;
}

.team-block-one .inner-box .lower-content h4 a:hover {
}

.team-block-one .inner-box .lower-content .designation {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.team-block-one .inner-box .lower-content .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
}

.team-block-one .inner-box .lower-content .social-links li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #706767;
}

.team-block-one .inner-box .lower-content .social-links li a:hover {
}

.pb-6 {
    padding-bottom: 6px;
}

.testimonial-section.alternate-2 {
    position: relative;
}

.testimonial-section.alternate-2:before {
    position: absolute;
    content: "";
    background: #2d2727;
    width: 100%;
    height: 525px;
    left: 0px;
    top: 0px;
}

.testimonial-section.alternate-2 .pattern-2 {
    position: absolute;
    left: 0px;
    top: 295px;
    width: 100%;
    height: 230px;
    background-repeat: repeat-x;
    background-size: cover;
    animation: slide 60s linear infinite;
    -webkit-animation: slide 60s linear infinite;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1920px 0;
    }
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1920px 0;
    }
}

.pad-0 {
    padding: 0px !important;
}

.news-block-one .inner-box .content-box {
    padding: 28px 40px 40px 40px;
    margin: 0px;
}

.news-block-one .inner-box .content-box p {
    margin-bottom: 20px;
}

/** google-map-section **/

.google-map-section {
    position: relative;
}

.google-map-section #contact-google-map2 {
    position: relative;
    width: 100%;
    height: 550px;
}

.google-map-section .map-inner {
    position: relative;
}

.google-map-section .map-inner .map-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 15px 35px 15px;
    max-width: 380px;
    width: 100%;
    z-index: 1;
}

.google-map-section .map-inner .map-content .logo {
    position: relative;
    margin-top: -42px;
    margin-bottom: 20px;
}

.google-map-section .map-inner .map-content .info-list li {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 600;
}

.google-map-section .map-inner .map-content .info-list li a {
    color: #fff;
}

.google-map-section .map-inner .map-content .info-list li a:hover {
    text-decoration: underline;
}

/***

====================================================================
                        About-Page
====================================================================

***/

/** page-title **/

.page-title {
    position: relative;
    padding: 138px 0px 290px 0px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-title .overlay-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.page-title .overlay-bg:before {
    position: absolute;
    content: "";
    background: #2d2727;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.7;
}

.page-title:before {
    position: absolute;
    content: "";
    background: #fff;
    width: 50%;
    height: 166px;
    left: 0px;
    bottom: 0px;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    z-index: 1;
}

.page-title:after {
    position: absolute;
    content: "";
    background: #fff;
    width: calc(50% + 1px);
    height: 166px;
    right: 0px;
    bottom: 0px;
    clip-path: polygon(0% 0%, 200% 100%, 100% 100%, 0% 100%, 0% 0%);
}

.page-title .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 166px;
    z-index: 1;
}

.page-title .pattern-layer:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 166px;
    left: 0px;
    bottom: 0px;
    clip-path: polygon(0% 40%, 100% 0%, 100% 0%, 0% 100%, 0% 0%);
}

.page-title .pattern-layer:after {
    position: absolute;
    content: "";
    width: 20%;
    height: 166px;
    right: 0px;
    bottom: -49px;
    clip-path: polygon(0% 0%, 100% 19%, 100% 100%, 175% 100%, 0% 0%);
}

.page-title .content-box .title {
    position: relative;
    margin-bottom: 11px;
}

.page-title .content-box .title h1 {
    position: relative;
    font-size: 60px;
    line-height: 65px;
    color: #fff;
    font-weight: 900;
}

.page-title .content-box .bread-crumb li {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #d9d1ce;
    padding-right: 16px;
    margin-right: 5px;
}

.page-title .content-box .bread-crumb li:last-child {
    padding: 0px !important;
    margin: 0px !important;
}

.page-title .content-box .bread-crumb li a {
    color: #d9d1ce;
}

.page-title .content-box .bread-crumb li a:hover {
    color: #fff;
}

.page-title .content-box .bread-crumb li:before {
    position: absolute;
    content: "/";
    top: 0px;
    right: 0px;
}

.page-title .content-box .bread-crumb li:last-child:before {
    display: none;
}

.about-section .image-box .image img {
    width: 100%;
}

.about-section .image-box .image {
    position: relative;
    display: block;
    overflow: hidden;
}

.about-section .image-box .image:before {
    position: absolute;
    top: 0;
    left: -80%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255, 255, 255, 0)),
        to(rgba(255, 255, 255, 0.3))
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.about-section .image-box:hover .image:before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}

.mr-70 {
    margin-right: 70px;
}

.border-bottom {
    border-bottom: 1px solid #ede6e6;
}

.team-page-section {
    padding-bottom: 90px;
}

.team-page-section .team-block-one .inner-box {
    margin-bottom: 30px;
}

.gallery-page-section {
    padding-bottom: 90px;
}

.gallery-page-section .inner-box {
    margin-bottom: 30px;
}

/***

====================================================================
                        Contact-Page
====================================================================

***/

.contact-section {
    position: relative;
    padding-bottom: 100px;
}

.content_block_6 .info-inner h2 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 900;
    margin-bottom: 32px;
}

.content_block_6 .info-inner p {
    font-weight: 600;
    margin-bottom: 37px;
}

.content_block_6 .info-inner .info-list li {
    position: relative;
    display: block;
    padding-left: 85px;
    padding-bottom: 25px;
    margin-bottom: 28px;
    border-bottom: 1px solid #eee8e8;
}

.content_block_6 .info-inner .info-list li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.content_block_6 .info-inner .info-list li i {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}

.content_block_6 .info-inner .info-list li p {
    line-height: 36px;
    margin: 0px;
}

.content_block_6 .info-inner .info-list li p a {
    color: #716868;
}

.content_block_6 .info-inner .info-list li p a:hover {
}

.contact-section .form-inner .form-group {
    position: relative;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.contact-section .form-inner .form-group:last-child {
    margin-bottom: 0px;
}

.contact-section .form-inner .form-group input[type="text"],
.contact-section .form-inner .form-group input[type="email"],
.contact-section .form-inner .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background: #f5f0f0;
    border: 1px solid #f5f0f0;
    font-size: 16px;
    color: #706767;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 500ms ease;
}

.contact-section .form-inner {
    position: relative;
    margin: 0px 5px;
    margin-top: 10px;
}

.contact-section .form-inner .form-group textarea {
    height: 230px;
    resize: none;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus {
}

.google-map-two {
    position: relative;
}

.google-map-two #contact-google-map2 {
    position: relative;
    width: 100%;
    height: 550px;
}

/***

====================================================================
                        Error-Page
====================================================================

***/

.error-section {
    position: relative;
    padding-bottom: 120px;
}

.error-section .inner-box h1 {
    position: relative;
    display: block;
    font-size: 170px;
    line-height: 150px;
    font-weight: 700;
    color: #222;
    margin-bottom: 27px;
}

.error-section .inner-box h2 {
    font-size: 40px;
    line-height: 45px;
    position: relative;
    color: #848484;
    margin-bottom: 10px;
}

.error-section .inner-box p {
    position: relative;
    margin-bottom: 57px;
}

.error-section .inner-box p a {
    display: inline-block;
    line-height: 18px;
}

.error-section .inner-box p a:hover {
    text-decoration: underline;
}

/***

====================================================================
                        Service-Page
====================================================================

***/

.service-page-section {
    position: relative;
    padding-bottom: 90px;
}

.service-page-section .service-block-one .inner-box {
    margin-bottom: 30px;
}

.service-details {
    position: relative;
    padding-bottom: 120px;
}

.default-sidebar .widget-title {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.default-sidebar .widget-title h4 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding-bottom: 5px;
}

.default-sidebar .widget-title h4:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
}

.service-sidebar .categori-widget {
    position: relative;
    display: block;
    background: #f5f0f0;
    padding: 41px 50px 50px 50px;
    margin-bottom: 30px;
}

.service-sidebar .categori-widget .categori-list li {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.service-sidebar .categori-widget .categori-list li:last-child {
    margin-bottom: 0px;
}

.service-sidebar .categori-widget .categori-list li a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #706767;
    line-height: 26px;
    font-weight: 600;
    background: #fff;
    padding: 9px 30px;
    z-index: 1;
}

.service-sidebar .categori-widget .categori-list li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: all 500ms ease;
}

.service-sidebar .categori-widget .categori-list li a.active:before,
.service-sidebar .categori-widget .categori-list li a:hover:before {
    width: 100%;
}

.service-sidebar .categori-widget .categori-list li a.active,
.service-sidebar .categori-widget .categori-list li a:hover {
    color: #fff;
}

.service-sidebar .advise-widget .inner-box {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 50px 54px 50px;
}

.service-sidebar .advise-widget .inner-box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.9;
}

.service-sidebar .advise-widget .inner-box .icon-box {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    line-height: 125px;
    background: #2d2727;
    text-align: center;
    font-size: 60px;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 29px;
}

.service-sidebar .advise-widget .inner-box h2 {
    display: block;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    font-weight: 900;
}

.service-details-content .image-box img {
    width: 100%;
    height: 408px;
    object-fit: cover;
}

.service-details-content .inner-box h2 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 900;
    padding-top: 20px;
    margin-bottom: 33px;
}

.service-details-content .inner-box .text p {
    margin-bottom: 34px;
}

.service-details-content .inner-box .text p:last-child {
    margin-bottom: 0px;
}

.service-details-content .inner-box .two-column {
    position: relative;
    margin-top: 53px;
}

.service-details-content .inner-box h3 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
    margin-bottom: 36px;
}

.service-details-content .inner-box h4 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 35px;
}

.service-details-content .inner-box .two-column .list li {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 34px;
    font-weight: 600;
    padding-left: 32px;
}

.service-details-content .inner-box .two-column .list li:before {
    position: absolute;
    content: "\f058";
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    left: 0px;
    top: 2px;
    font-weight: 700;
}

/***

====================================================================
                        Blog-Page
====================================================================

***/

.blog-grid {
    position: relative;
    padding-bottom: 120px;
}

.blog-grid .news-block-one .inner-box {
    margin-bottom: 30px;
}

.blog-grid .pagination-wrapper {
    position: relative;
    margin-top: 30px;
}

.sidebar-page-container {
    position: relative;
    padding-bottom: 120px;
}

.sidebar-page-container .news-block-one .inner-box {
    margin-bottom: 30px;
}

.sidebar .sidebr-search {
    position: relative;
    display: block;
    padding: 15px 15px;
    margin-bottom: 30px;
}

.sidebar .sidebr-search .search-form .form-group {
    position: relative;
    margin: 0px;
}

.sidebar .sidebr-search .search-form .form-group input[type="search"] {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.sidebar .sidebr-search .search-form .form-group input:focus {
    border-color: rgba(255, 255, 255, 0.4);
}

.sidebar
    .sidebr-search
    .search-form
    .form-group
    input::-webkit-input-placeholder {
    color: #fff;
}

.sidebar .sidebr-search .search-form .form-group button {
    position: absolute;
    top: 9px;
    right: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: all 500ms ease;
}

.sidebar .sidebar-widget {
    position: relative;
    display: block;
    background: #f5f0f0;
    padding: 41px 50px 50px 50px;
    margin-bottom: 30px;
}

.sidebar .sidebar-widget:last-child {
    margin-bottom: 0px;
}

.sidebar .sidebar-post .post-inner .post {
    position: relative;
    display: block;
    padding-left: 90px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    border-bottom: 1px solid #fff;
    min-height: 103px;
}

.sidebar .sidebar-post .post-inner .post:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.sidebar .sidebar-post .post-inner .post .post-thumb {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 70px;
    height: 68px;
}

.sidebar .sidebar-post .post-inner .post .post-thumb img {
    width: 100%;
    transition: all 500ms ease;
}

.sidebar .sidebar-post .post-inner .post:hover .post-thumb img {
    opacity: 0.2;
}

.sidebar .sidebar-post .post-inner .post .comment {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}

.sidebar .sidebar-post .post-inner .post .comment i {
    margin-right: 5px;
}

.sidebar .sidebar-post .post-inner .post h6 {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.sidebar .sidebar-post .post-inner .post h6 a {
    display: inline-block;
    color: #2d2727;
}

.sidebar .sidebar-post .post-inner .post h6 a:hover {
}

.sidebar .sidebar-post .widget-title {
    margin-bottom: 26px;
}

.sidebar .sidebar-post {
    padding-bottom: 26px;
}

.sidebar .categories-widget .categories-list li {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.sidebar .categories-widget .categories-list li:last-child {
    margin-bottom: 0px;
}

.sidebar .categories-widget .categories-list li a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #706767;
    font-weight: 600;
    padding: 9px 30px;
    background: #fff;
}

.sidebar .categories-widget .categories-list li a span {
    font-size: 14px;
    float: right;
    transition: all 500ms ease;
}

.sidebar .categories-widget .categories-list li a:hover {
    color: #fff;
}

.sidebar .categories-widget .categories-list li a:hover span {
    color: #fff;
}

.sidebar .tags-widget .tags-list li {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sidebar .tags-widget .tags-list li a {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    color: #706767;
    font-weight: 700;
    background: #fff;
    text-transform: uppercase;
    padding: 7px 23px;
    text-align: center;
}

.sidebar .tags-widget .tags-list li a:hover {
    color: #fff;
}

.sidebar .tags-widget {
    padding-bottom: 40px;
}

.blog-details-content .news-block-one:hover .image-box .image img {
    opacity: 1;
    transform: scale(1);
}

.blog-details-content .post-share-option {
    position: relative;
    display: block;
    padding: 30px 40px;
}

.blog-details-content .post-share-option:before {
    position: absolute;
    content: "";
    background: #fff;
    width: calc(100% - 40px);
    height: 1px;
    top: 0px;
    right: 0px;
}

.blog-details-content .post-share-option ul li {
    position: relative;
    display: inline-block;
}

.blog-details-content .post-share-option .tags li h4 {
    font-size: 20px;
    line-height: 38px;
    font-weight: 700;
    margin-right: 10px;
}

.blog-details-content .post-share-option .tags li {
    float: left;
    margin-right: 10px;
}

.blog-details-content .post-share-option .tags li:last-child {
    margin: 0px !important;
}

.blog-details-content .post-share-option .tags li a {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    color: #706767;
    font-weight: 700;
    background: #fff;
    text-transform: uppercase;
    padding: 7px 23px;
    text-align: center;
}

.blog-details-content .post-share-option .tags li a:hover {
    color: #fff;
}

.blog-details-content .post-share-option .social-links li {
    margin-right: 20px;
}

.blog-details-content .post-share-option .social-links li:last-child {
    margin: 0px !important;
}

.blog-details-content .post-share-option .social-links li a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    color: #706767;
}

.blog-details-content .post-share-option .social-links li a:hover {
}

.blog-details-content .news-block-one .inner-box .content-box {
    padding-bottom: 35px;
}

.blog-details-content .author-box {
    position: relative;
    display: block;
    background: #f5f0f0;
    padding: 60px 60px 60px 60px;
    margin-bottom: 50px;
}

.blog-details-content .author-box .author-thumb {
    position: absolute;
    left: 60px;
    top: 60px;
    width: 170px;
    height: 160px;
}

.blog-details-content .author-box .author-thumb img {
    width: 100%;
}

.blog-details-content .author-box .inner {
    position: relative;
    padding-left: 210px;
}

.blog-details-content .author-box .inner h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 38px;
}

.blog-details-content .group-title {
    position: relative;
    display: block;
    margin-bottom: 46px;
}

.blog-details-content .group-title h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
}

.blog-details-content .comment-box .comment {
    position: relative;
    padding-left: 180px;
    padding-bottom: 53px;
    border-bottom: 1px solid #ede6e6;
    margin-bottom: 54px;
    min-height: 222px;
}

.blog-details-content .comment-box .comment:last-child {
    margin-bottom: 0px;
}

.blog-details-content .comment-box .comment .thumb-box {
    position: absolute;
    left: 0px;
    top: 6px;
    width: 142px;
    height: 142px;
    border-radius: 50%;
}

.blog-details-content .comment-box .comment .thumb-box img {
    width: 100%;
    border-radius: 50%;
}

.blog-details-content .comment-box .comment .comment-info h4 {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.blog-details-content .comment-box .comment .comment-info {
    position: relative;
    margin-bottom: 37px;
}

.blog-details-content .comment-box .comment .comment-info h4 span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.blog-details-content .comment-box {
    margin-bottom: 50px;
}

.blog-details-content .comment-box .comment .reply-btn {
    position: absolute;
    top: 6px;
    right: 0px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 18px;
    z-index: 1;
}

.blog-details-content .comment-box .comment .reply-btn:hover {
    background: #2d2727;
}

.blog-details-content .comments-form-area .comment-form .form-group {
    position: relative;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.blog-details-content .comments-form-area .comment-form .form-group:last-child {
    margin-bottom: 0px;
}

.blog-details-content
    .comments-form-area
    .comment-form
    .form-group
    input[type="text"],
.blog-details-content
    .comments-form-area
    .comment-form
    .form-group
    input[type="email"],
.blog-details-content .comments-form-area .comment-form .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background: #f5f0f0;
    border: 1px solid #f5f0f0;
    font-size: 16px;
    color: #706767;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 500ms ease;
}

.blog-details-content .comments-form-area .comment-form {
    position: relative;
    margin: 0px 5px;
}

.blog-details-content .comments-form-area .comment-form .form-group textarea {
    height: 170px;
    resize: none;
}

.blog-details-content .comments-form-area .comment-form .form-group input:focus,
.blog-details-content
    .comments-form-area
    .comment-form
    .form-group
    textarea:focus {
}

.three-item-carousel .owl-stage-outer {
    overflow: visible;
}

.three-item-carousel .owl-item {
    opacity: 0;
    transition: all 500ms ease;
}

.three-item-carousel .owl-item.active {
    opacity: 1;
}
